<div style="padding-left:10px">
<br>
<h2 >Auxillary Notes</h2>
<br>
<h2>GitHub Notes:</h2>
<h3 class= "h3indent">Interesting Websites</h3>
<ul class="nobullet">
<li><a target="_blank" href="https://guides.github.com/activities/hello-world">10 minute tutorial on the basics of Github. Commiting, branching, pull and merge</a> </li>
</ul>
<h2 style="margin-top:40px">Node Notes:</h2>
<ul class="nobullett">
  <li><a target="_blank" href="https://dzone.com/articles/cors-in-node"> Help ticket explaining how to allow cors when developing websites in different domains.</a></li>
  <p>app.use(function(req,res,next) "CURLY" res.header("Access-Control-Allow-Origin","*");</p>
  <p> res.header("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept"); </p>
  <p>();"CURLY");</p>
</ul>
</div>