
<mat-toolbar color="warn">
  <mat-toolbar-row >
<button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Fundamental Sections</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item color="warn">Section 1 - Introduction</button>
  <button mat-menu-item>Section 2 - Typescript Fundamentals</button>
  <button mat-menu-item>Section 3 - Angular Fundamentals</button>
  <button mat-menu-item>Section 4 - Displaying Data and Handling Events</button>
  <button mat-menu-item>Section 5 - Building Reusable Components</button>

</mat-menu>
</mat-toolbar-row>
</mat-toolbar>